@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(3, 1, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

#logo {
    width: 30vw;
}

h1 {
    color: aliceblue;
    font-family: "Protest Guerrilla", sans-serif;
}

#assistant-name {
    color: rgba(217, 24, 140, 0.762);
    font-size: 40px;
}

#va {
    color: rgb(152, 29, 91);
    font-size: 40px;
}

#voice {
    width: 300px;
    display: none;
}

#mic {
    width: 30%;
    background: linear-gradient(to right, rgb(41, 41, 99), aqua);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px 10px rgb(41, 41, 99), 2px 2px 10px aqua;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

#mic:hover {
    box-shadow: 2px 2px 20px rgb(41, 41, 99), 2px 2px 20px aqua;
    letter-spacing: 1px;
}